/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.detail_item {
  background-color: #19262B; }

.detail_main, .detail_sidebar {
  background-color: #131D20; }

.kit, .detail_header {
  background-color: #3B8030; }

.kit.is-plus, .detail_item.is-new {
  background-color: #9A4C2B; }

.detail_item.is-selected, .detail_header .item-selector {
  background-color: #6A9E39; }

.kit, .detail_main, .detail_item, .detail_sidebar, .detail_header .item-selector {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); }

a {
  text-decoration: none; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #18252a url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAAAUJiwcJiwUIiyt9TV/AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAgtJREFUKJEFwcFuokAYAOD/JaFhDPXENAOBPWkjzXafAgg04GnGzEyAEzbSxD4FNEJiT2qA6E3NarrZ74NyKjF3eX7gRwOOdF68kwXuUK4B+xOa1YOJjMqwICTC4/m5VhSOgX4Idb611hFWMaSpNPxQxWiKRrDjOZukJ+KlgsDtx3AKhU7xUvage5fqgoZJlCV/waBreyv78voWEnB74uy/xMkR0gfXqrJzaaY1qRvoO7+0N71AxKZglkV5SmkfMRLD8TGLNwL1cZKOIJ1+LT8Hdk5aloGij18I1yRfHBH0zrnbS2E+oNYG3Dacriwj6z8QtI56GgdYF6Gcg04TeUsne23bjYBEnAbPCRvWOAA2e0Upve9+y+sOJrPEbpfPeLxyptCEbZ5u2RvPQwOER8syYoPv/evAvRTxn2XFsig04SbmAhVXI50wB7JVcwjcxS68/9qA99A/rS+bNHYfVZiU6tPVL8UHkS4gMxwJTk1mhToQvQyice4HgymgESZWNljpVeUbNGrclZprjSQ6NNr3LPRnKLrNfDi873YrFxOi6xZwJseY15+qF3NYWgFR+FvsjdkcEuWo3U1aGH6VgP7aogsOf0aYGJAs8lrJDi8xFQL2aZ/sRWComvYNwTPfE9sTeLtYA1+KLjJZ1omYgc2QGd+U4pRECxgps73wudQcbQBR95INLqKVE/0Hm4BjDBIPdU0AAAAASUVORK5CYII=); }

.app {
  padding-top: 90px;
  max-width: 1040px;
  margin: 0 auto; }
  .app_header {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
    position: fixed; }

.header {
  color: white;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  margin-top: 18px; }

.footer {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: fixed;
  right: 12px;
  bottom: 12px; }
  .footer_link, .footer_link:visited {
    color: #2F5DFF; }
  .footer_heart {
    color: #FF2F2F; }

.kit-list {
  width: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.kit {
  width: 128px;
  height: 128px;
  line-height: 20px;
  display: flex;
  border-radius: 4px;
  margin-bottom: 24px;
  cursor: pointer;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .kit.is-plus {
    position: relative; }
    .kit.is-plus:after, .kit.is-plus:before {
      content: '';
      width: 8px;
      height: 62px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #E9C0AF; }
    .kit.is-plus:after {
      transform: translate(-50%, -50%) rotate(90deg); }
  .kit + .kit {
    margin-left: 24px; }
  .kit_name {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #9EBCC7;
    height: 50px;
    margin-top: auto;
    padding: 0 10px; }
  .kit .sprite {
    align-self: center;
    margin-top: auto; }

.sprite {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  display: inline-block;
  position: relative;
  background: url("../../public/sprites.png") no-repeat 0 0; }
  .sprite.is-shulker-box, .sprite.is-turtle {
    background-position-x: -192px; }
  .sprite.is-diamond {
    background-position-x: -32px; }
  .sprite.is-golden {
    background-position-x: -64px; }
  .sprite.is-iron {
    background-position-x: -96px; }
  .sprite.is-stone, .sprite.is-chainmail {
    background-position-x: -128px; }
  .sprite.is-wooden, .sprite.is-leather {
    background-position-x: -160px; }
  .sprite.is-axe {
    background-position-y: -32px; }
  .sprite.is-pickaxe {
    background-position-y: -64px; }
  .sprite.is-hoe {
    background-position-y: -96px; }
  .sprite.is-sword {
    background-position-y: -128px; }
  .sprite.is-helmet {
    background-position-y: -160px; }
  .sprite.is-chestplate {
    background-position-y: -192px; }
  .sprite.is-leggings {
    background-position-y: -224px; }
  .sprite.is-boots {
    background-position-y: -256px; }
  .sprite.is-xp {
    background-position: -32px -289px; }
  .sprite.is-menu:after {
    content: '';
    display: block;
    position: absolute;
    border: solid transparent 5px;
    border-top-color: white;
    top: 100%;
    left: 100%;
    margin-left: -4px;
    margin-top: -4px; }
  .sprite.is-flow {
    background-position: -128px -288px; }

.detail {
  display: flex;
  width: 100%; }
  .detail_body {
    width: 100%;
    max-width: 554px; }
  .detail_header {
    display: flex;
    align-items: center;
    height: 55px;
    position: relative;
    z-index: 10;
    color: #9EBCC7;
    border-radius: 4px 4px 0 0; }
    .detail_header .sprite {
      margin: 0 15px; }
    .detail_header.is-new-item {
      padding-left: 20px; }
  .detail_item-list {
    padding: 20px;
    padding-left: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap; }
  .detail_item {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    margin-left: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .detail_item.is-new {
      position: relative; }
      .detail_item.is-new:after, .detail_item.is-new:before {
        content: '';
        width: 4px;
        height: 26px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #E9C0AF; }
      .detail_item.is-new:after {
        transform: translate(-50%, -50%) rotate(90deg); }
  .detail_sidebar {
    width: 100%;
    margin-left: 20px;
    border-radius: 4px;
    max-width: 466px; }

.item_enchantments {
  padding: 20px;
  color: white; }

.item_detail {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0 20px;
  padding-top: 20px;
  color: white; }
  .item_detail .sprite {
    margin-right: 10px; }
    .item_detail .sprite.is-flow {
      margin-right: 0;
      margin-left: auto;
      cursor: pointer; }

.item_enchantment {
  display: flex;
  align-content: center;
  align-items: center; }
  .item_enchantment:hover {
    background: rgba(0, 0, 0, 0.1); }
  .item_enchantment.is-disabled {
    text-decoration: line-through;
    opacity: 0.3; }

.item_levels {
  margin-left: auto;
  color: white;
  width: 130px; }

.item_level {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px white;
  margin: 2px;
  text-align: center;
  line-height: 20px;
  cursor: pointer; }
  .item_level:hover {
    background: rgba(255, 255, 255, 0.1); }
  .item_level.is-selected {
    background: rgba(255, 255, 255, 0.3); }

.mermaid-graph {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  overflow: scroll;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease-out, z-index 0ms linear 301ms;
  display: flex;
  justify-content: center; }
  .mermaid-graph.is-active {
    z-index: 10;
    opacity: 1;
    transition: opacity 300ms ease-out; }

.item-selector {
  top: 100%;
  max-width: 270px;
  margin: 10px auto; }
  .item-selector .sprite {
    margin: 0;
    margin-right: 13px;
    cursor: pointer; }

.detail_header .sprite {
  cursor: pointer; }

.detail_header .item-selector {
  position: absolute;
  padding: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  border-radius: 0 0 4px 0; }
  .detail_header .item-selector.is-active {
    opacity: 1;
    max-height: 340px;
    padding: 10px 0;
    padding-left: 12px;
    transition: opacity 100ms ease-out, max-height 300ms ease-out, padding 0ms 0ms; }

.delete-button {
  font-size: 14px;
  color: #9EBCC7;
  border: solid 1px #9EBCC7;
  margin-left: auto;
  margin-right: 12px;
  padding: 8px;
  cursor: pointer;
  transition: all 150ms ease-in; }
  .delete-button:hover {
    background: #9A4C2B;
    transition: all 300ms ease-out; }
